html {
  font-size: 16px;
}

h1 {
  font-size: 1.25rem;
  margin: 0 0 .5rem;
}

p {
  margin: 0;
}

p:not(:last-of-type) {
  margin-bottom: 1em;
}

.fm-body {
  font-size: 1rem;
  white-space: nowrap;
}

.fm-main {
  margin: 1rem;
  min-width: 500px;
}

.fm-button {
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #337ab7;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 0.75em 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: all 250ms ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.fm-button:hover,
.fm-button:focus {
  background-color: #2d9beb;
}
